doctype html
html(lang='en')
    head
        title Formdata
    body
        h1 Received data from form:
        div.container
            p Name: #{name}
            p Lastname: #{lastname}
            p Age: #{age}