doctype html
html(lang='en')
    head
        title Jsondata
    body
        h1 Received data from JSON:
        div.container
            p Name: #{name}
            p Lastname: #{lastname}
            p Age: #{age}